<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TripleWorks</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <script src="https://unpkg.com/htmx.org@2.0.7"></script>
    <script src="/js/autofill.js"></script>
    <style>
      .status-footer {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0.75rem;
        background-color: #f5f5f5;
        border-top: 1px solid #dbdbdb;
        z-index: 1000;
      }

      /* Prevent page content from being hidden behind the footer */
      body {
        padding-bottom: 3rem; /* match footer height */
      }
    </style>
  </head>
  <body>
    <div class="container is-fluid">
      <header class="hero is-primary is-small">
        <div class="hero-body">
          <h1 class="title">TripleWorks</h1>
        </div>
      </header>

      <div class="columns is-fullwidth mt-4">
        <div id="kind-select-column" class="column is-one-quarter">
          <div class="select is-fullwidth">
            <select
              id="type-select"
              name="type"
              hx-trigger="load, editComponentFormChanged from:body"
              hx-get="/cim-types"
              hx-target="this"
              hx-swap="innerHTML"
              hx-vals="js:{ resourceType: event.detail?.resourceType }"
            ></select>
          </div>
        </div>
        <div class="column is-three-quarter">
          <div class="columns is-variable" id="buttons">
            <div class="column">
              <button
                id="new-btn"
                class="button is-success is-fullwidth"
                hx-target="#entity-form"
                hx-swap="innerHTML"
                hx-get="/entity-form"
                hx-include="#type-select"
                hx-trigger="click"
              >
                New
              </button>
            </div>
            <div class="column">
              <button
                id="list-btn"
                class="button is-info is-fullwidth"
                hx-target="#list-content"
                hx-swap="innerHTML"
                hx-get="/entity-list"
                hx-include="#type-select"
                hx-trigger="click"
              >
                List
              </button>
            </div>
            <div class="column">
              <button
                id="list-all-btn"
                class="button is-info is-fullwidth"
                hx-target="#list-content"
                hx-swap="innerHTML"
                hx-get="/entity-list?type=all"
                hx-trigger="click"
              >
                List all
              </button>
            </div>
            <div
              class="column is-flex is-justify-content-center is-align-items-center"
            >
              <span class="has-text-weight-bold mr-2">Diagram:</span>
              <div class="select">
                <select
                  id="substation-select"
                  hx-get="/entities?kind=Substation"
                  hx-target="this"
                  hx-swap="innerHTML"
                  hx-trigger="load"
                ></select>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="one-col-content" class="is-hidden">
        <div id="search-field" class="field">
          <div class="columns is-fullwidth">
            <div class="column is-variable">
              <p class="control">
                <input
                  id="name-filter-input"
                  name="name-filter"
                  class="input is-rounded"
                  type="text"
                  placeholder="Search existing names..."
                  hx-get="/entity-list?type=all"
                  hx-trigger="input delay:500ms"
                  hx-include="#type-filter-input"
                  hx-target="#list-content"
                />
              </p>
            </div>
            <div class="column is-variable">
              <p class="control">
                <input
                  id="type-filter-input"
                  name="type-filter"
                  class="input is-rounded"
                  type="text"
                  placeholder="Search existing types..."
                  hx-get="/entity-list?type=all"
                  hx-trigger="input delay:500ms"
                  hx-include="#name-filter-input"
                  hx-target="#list-content"
                />
              </p>
            </div>
          </div>
        </div>
        <div id="list-content" class="table-container"></div>
      </div>

      <!-- Left panel content will be loaded via HTMX -->
      <div id="two-col-content" class="columns is-fullwidth">
        <div class="column is-half">
          <div id="entity-form" class="mt-4"></div>
        </div>
        <div class="column is-half" id="right-panel">
          <!-- Right panel content will be loaded via HTMX -->
          <div id="draw-area" class="image is-fullwidth"></div>
        </div>
      </div>

      <!-- Commit section at bottom of page -->
      <div id="commit-field" class="field has-addons mt-4 is-hidden">
        <div class="control is-expanded">
          <input
            class="input is-rounded"
            id="commit-input"
            type="text"
            placeholder="Commit message..."
          />
        </div>
        <div class="control ml-2">
          <button class="button is-success" onclick="commitChanges()">
            Commit
          </button>
        </div>
      </div>
    </div>
    <footer class="footer status-footer has-background-light">
      <div class="content is-size-7">
        <span id="status-message" class="has-text-grey-dark"> Connected </span>
      </div>
    </footer>
  </body>
  <script defer>
    let autofillInProgress = false;
    function delay(ms) {
      return new Promise((resolve) => setTimeout(resolve, ms));
    }

    function commitChanges() {
      payload = collectEditorValues();
      if (!payload || Object.keys(payload).length === 0) return;

      payload["cim_type"] = document.getElementById("type-select").value;
      payload["modelId"] = 1;
      payload["modelName"] = "national grid model";
      console.log("Commit payload", payload);

      const statusField = document.getElementById("status-message");

      fetch("/commit", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify(payload),
      })
        .then((response) => response.text())
        .then((text) => (statusField.textContent = text))
        .catch((err) => console.error("Failed to post commit:", err));
    }

    function collectEditorValues() {
      const editor = document.getElementById("entity-editor");
      if (!editor) return {};

      const commitMsg = document.getElementById("commit-input");
      if (!commitMsg || !commitMsg.value?.trim()) {
        alert("Please enter a commit message!");
        return {};
      }

      const result = {
        checksum: editor.getAttribute("checksum"),
        commitMessage: commitMsg.value,
      };

      // Select all divs with class "field" inside editor
      editor.querySelectorAll(".field").forEach((fieldDiv) => {
        const idBase = fieldDiv.id.replace("-field", "");
        const label = document.getElementById(idBase + "-label");
        const valueInput = document.getElementById(idBase + "-value");
        console.log(idBase);

        if (!label || !valueInput) return; // skip if missing

        const key = label.getAttribute("json-tag"); // from data-json-tag
        const value =
          valueInput.type === "number"
            ? Number(valueInput.value)
            : valueInput.value;
        const isChecked = valueInput.checked; // Checkboxes

        result[key] = valueInput.type === "checkbox" ? isChecked : value;
      });
      return result;
    }

    async function handleChangeEvent(e) {
      if (e.target.id === "substation-select") {
        loadStationDrawing(e);
        return;
      }

      performAutofill(e);
      const select = e.target;
      if (!select.matches("select[value-field]")) return;
      const inputId = select.getAttribute("value-field");
      const targetInput = document.getElementById(inputId);
      const selectedOption = select.options[select.selectedIndex];

      if (targetInput && selectedOption) {
        const valuesCandiates = [
          selectedOption.getAttribute("mrid"),
          selectedOption.value,
        ];
        targetInput.value = valuesCandiates.find(
          (v) => v !== null && v !== undefined,
        );

        if (targetInput.value !== null) {
          targetInput.classList.remove("is-danger");
        }
      }
    }

    async function loadStationDrawing(e) {
      const select = document.getElementById("substation-select");
      const selectedOption = select.options[select.selectedIndex];
      const mrid = selectedOption.getAttribute("mrid");
      if (mrid === null || mrid === "no-mrid") return;

      const resp = await fetch("/substations/" + mrid + "/diagram", {
        method: "GET",
      });

      const drawArea = document.getElementById("draw-area");
      drawArea.innerHTML = await resp.text();
    }

    async function performAutofill(e) {
      if (autofillInProgress) return;
      autofillInProgress = true;
      await delay(500);
      doAutofill(); // From autofill.js
      autofillInProgress = false;
    }

    function makeFieldVisible(fieldId) {
      const item = document.getElementById(fieldId);
      if (item) {
        item.classList.remove("is-hidden");
      }
    }

    function hideField(fieldId) {
      const item = document.getElementById(fieldId);
      if (item) {
        item.classList.add("is-hidden");
      }
    }

    function handleAfterSwapEvent(evt) {
      if (
        evt.detail.elt.id === "list-btn" ||
        evt.detail.elt.id === "list-all-btn"
      ) {
        hideField("commit-field");
        hideField("two-col-content");
        makeFieldVisible("one-col-content");
      } else if (evt.detail.target.id === "entity-form") {
        hideField("one-col-content");
        makeFieldVisible("two-col-content");
        makeFieldVisible("commit-field");
      }
    }

    document.addEventListener("change", handleChangeEvent);
    document.addEventListener("htmx:afterRequest", handleAfterSwapEvent);
  </script>
</html>
