<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TripleWorks</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@tabler/core@1.6.1/dist/css/tabler.min.css"
    />
    <script src="https://unpkg.com/htmx.org@4.0.0/dist/htmx.min.js"></script>
  </head>

  <body>
    <div class="container-xl mt-3">
      <h1 class="h2 mb-3">Patch database</h1>

      <div class="card mb-3">
        <div class="card-header">
          <div class="card-title">Patch</div>
        </div>
        <div class="card-body">
          <input class="form-control file-input" type="file" name="resume" />
        </div>
        <div class="card-footer">
          <div class="col-auto">
            <button class="btn btn-success" type="submit" id="submit-btn">
              Apply
            </button>
          </div>
        </div>
      </div>

      <div class="card mb-3">
        <div class="card-header">
          <div class="card-title">Connect Dangling</div>
        </div>
        <div class="card-body">
          <div class="select mb-2">
            <div hx-get="/models" hx-trigger="load"></div>
          </div>
          <div class="d-flex align-items-center gap-2 flex-wrap">
            <button
              id="connect-dangling-lines-btn"
              class="btn btn-success"
              hx-post="/connect-dangling"
              hx-target="#dangling-result"
              hx-include="#commit-checkbox, #model-selection"
            >
              Connect Dangling
            </button>
            <label>
              <input
                id="commit-checkbox"
                type="checkbox"
                name="commit"
                value="true"
              />
              Commit
            </label>
            <span class="text-muted">Connects dangling lines by name</span>
          </div>
          <div id="dangling-result" class="text-muted small mt-2">Idle</div>
        </div>
      </div>
    </div>
    <script defer>
      const submitBtn = document.getElementById("submit-btn");

      async function submit() {
        const fileInput = document.querySelector(".file-input");
        const file = fileInput.files[0];
        if (!file) return;
        const text = await file.text();

        const resp = await fetch("/resource", {
          method: "PATCH",
          headers: {
            "Content-Type": "application/json",
          },
          body: text,
        });

        const responseText = await resp.text();
        alert(responseText);
      }

      submitBtn.addEventListener("click", submit);
    </script>
  </body>
</html>
